body {
	box-sizing: border-box;
	margin: 0;
}
#baner {
	background: #004D40;
	height: 50px;
}
#lewy {
	background:  #80CBC4;
	height: 550px;
	width: 30%;
	float: left;
}
#srodkowy {
	background: #E0F2F1;
	height: 550px;
	width: 40%;
	float: left;
    text-align: center;
}
#prawy {
	background:  #E0F2F1;
	height: 250px;
	width: 30%;
	float: left;
}
#prawydolny {
	background:   #B2DFDB;
	height: 300px;
	width: 30%;
	float: left;
}
#stopka {
	background: #004D40;
	height: 50px;
	text-align: center;
	clear: both;
}
ul {
	margin-left: 100px;
}
img {
	margin: 100px;
}
form {
	margin-left: 150px;
}
h4 {
	margin-left: 100px;
}
h2, h3 {
	text-align: center;
}
h2, p {
	margin: 0;
}

